body{
    background-color: #D5D5D5;
    font-family: system-ui;
}
.container{
    background-color: #E9E7EA;
    width: 1000px;
    max-width: 100%;
    margin: auto;
    padding: 50px;
    box-shadow: 0px 10px 50px #858585;
    display: grid;
    grid-template-columns: 35% 60%;
    column-gap: 5%;
    row-gap: 36px;
}
/*====== Sección foto + info ======*/
.foto img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.foto{
    display: flex;
    justify-content: end;
}
.info ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    line-height: 30px;
    }
/*==== Sección presentacion + contacto ====*/
.nombre{
    padding-left: 30px;
    border-left: 1px solid #000;
}
.nombre h1{
    font-weight: 300;
    font-size: xxx-large;
    margin: 0 0 5px;
}
.nombre .titulo{
    margin: 0;
    font-weight: bold;
    letter-spacing: 3px;
}
.nombre .contacto{
    padding: 0;
    list-style: none;
}
.nombre .contacto span{
    display: inline-block;
    background-color: #000;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: small;
    margin-right: 20px;
}
.nombre .contacto li{
    padding: 5px 0;
    transform: translate(-40px);
    background-color: #E9E7EA;
}
/*=== Sección acerca de mi ===*/
.acerca_de_mi{
    padding-left: 30px;
    border-left: 1px solid #000;
    text-align: justify;
}
h2{
    padding: 0;
    margin: 0 0;
}
/*== Sección experiencia laboral + estudios ==*/
.exp{
    text-align: right;
}
.exp h4{
    margin: 10px 0 10px;
}
/*== Sección cursos + capacitaciones ==*/
.cursos{
    padding-left: 30px;
    text-align: justify;
    border-left: 1px solid #000;
}
.cursos .titulo{
    position: absolute;
}
.cursos .titulo::before{
    position: absolute;
    width: 13px;
    height: 13px;
    background-color: #000;
    content: '';
    border-radius: 50%;
    left: -37px;
}
